.top-row
{
    border-bottom-color: black;
    border-width: 10px;
}


.book-look-head
{
    font-size: 1em;
}
.search-header
{
    font-size: 1em;
}
.search-results-title
{
    font-size: 2em;
    font-weight: bold;
}

.search-results-author
{
    padding-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 0.5em;
}
.search-results
{
    margin-bottom: 5em;
}
